.container {
    /* width: 334px;
    height: 57px; */
    display: flex;
    flex-wrap: wrap;
    background: #424141;
    border-radius: 25px;
    justify-content:space-evenly;

    /* margin-top: 40px; */
}

.drag-area {
    -webkit-app-region: drag;
    height: 100%;
    display: inline;
    float: left;


  }
  
  .nodrag-area {
    -webkit-app-region: no-drag;
  }
  

.movable {
    display: inline;
    height: 60px;
    background-color: #424141;
}