.mic {
    width: 60px;
    height: 60px; 
} 

.dot-red {
    height: 10px;
    width: 10px;
    margin-top: 10px;
    margin-left: 8px;
    background-color: red;
    border-radius: 50%;
    /* display: inline-block; */
}

.dot-green {
    height: 10px;
    width: 10px;
    margin-top: 10px;
    margin-left: 8px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
}

.record-wrap {
    display: flex;
    flex-wrap: wrap;
    background: #424141;
    border-radius: 25px;
    /* justify-content:space-evenly; */
}
